/*1emは一文字らしい*/
body {
    background-image:url("../images/site/junjiruw_pro.png"),linear-gradient(#053a24,80%,#000000);
    background-size:25% auto;
}
header{
    position: sticky;
    top: 0;
    background: #053a24;
}
footer{
    background: #041d42;
}
a#totop{
    color: #ffffff;
}
div#mannaka{
    width: 90%;
    margin: auto;
    background: #16151a;
    border: 2px solid #ffffff;
}
h1{
    color: #ffffff;
}
h2{
    color: #ffffff;
}
img#junjiruw {
    float:right;
    margin-right:0em; 
    margin-bottom:0em;
}
