/*1emは一文字らしい*/
body {
    background: #053a24;
}
header{
    position: sticky;
    top: 0;
    background: #053a24;
}
footer{
    background: #041d42;
}
div#mannaka{
    width: 90%;
    margin: auto;
    background: #16151a;
}
h1{
    color: #ffffff;
}
h2{
    color: #ffffff;
}
img#junjiruw {
    float:right;
    margin-right:0em; 
    margin-bottom:0em;
}
