/*1emは一文字らしい*/
html{
    min-height:100%;
}
body {
    background-image:url("../images/site/junjiruw_pro.png"),
                    linear-gradient(#053a24,80%,#000000);
    background-size:12.5% auto;
    background-repeat:repeat, repeat;
    background-attachment: scroll,fixed;
    height:auto;
    width: auto;

}
div#top{
    height: 0em;
}
header{
    position: sticky;
    top: 0;/*ついてくるのに必要*/
    background: #053a24;
    padding-left: 5px;
    padding-right: 5px;
    border-radius:10px;
    box-shadow:0px 0px 0px 2px #ffffff;
}
footer{
    background: #041d42;
    padding: 0.5em;
}
ul#footul{
    text-align: left;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
ul#footul li{
    display:inline-block;
    padding: 0.2em;
    color: #ffffff;
}
ul#footul li a{
    color: #aaaaaa;
}
ul#footul li a:hover{
    color: #ffffff;
}
li#twitter{
    vertical-align: top;
}
a#totop{
    color: #ffffff;
}
div#mannaka{
    width: 90%;
    margin: auto;
    background: #16151a;
    border: 2px solid #ffffff;
    color: #ffffff;   
    font-size: 16px;    
}
h1{
    color: #ffffff;
}
h2{
    color: #ffffff;
}
img#junjiruw {
    float:right;
    margin-right:0em; 
    margin-bottom:0em;
}
